@import '../../../assets/scss/_variables.scss';

.minicart {
  position: relative;
  overflow: visible;
  text-transform: uppercase;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $gray-darker;
  background: $gray-light-2;
  border: none;
  border-bottom: 4px solid $brand-success;
}
.minicart h4 {
  font-family: $font-family-fancy;
  line-height: 1;
  clear: both;
  padding: 0 10px 0 0;
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
  vertical-align: middle;
  text-align: left;
}
.minicart a,
.minicart a:hover {
  text-decoration: none;
}
.minicart .ggdsicon-cart {
  color: $brand-success;
}
.minicart a:hover .ggdsicon-cart {
  color: $gray-darker;
}

// .minicart:hover .minicart-dropdown {
//   text-transform: none;
//   background: $gray-lighter;
//   border-bottom: 8px solid $brand-success;
//   position: absolute;
//   top: 100%;
//   right: 0;
//   width: 250px;
//   max-height: 350px;
//   z-index: 1006;
//   font-size: 0.9em;
//   color: #000;
//   opacity: 1;
//   transition: all ease-in-out 0.3s;
// }
