<aside class="minicart clearfix">
  <div class="col-sm-4 padd-top-5">
    <a href="#!/cart">
      <i class="ggdsicon-cart text-size-200"></i>
    </a>
  </div>
  <div class="col-sm-8 minicart-summary">
    <h4>
      <span class="items">3</span> Item
      <span>s</span>
    </h4>
    <h4>
      <span class="total">$1399.00</span>
    </h4>
  </div>
</aside>


<!-- <section class="cartactions">
        <span class="emptycart">Your cart is empty</span>
        <div class="productlist">
          <section class="productwrap clearfix" data-ng-repeat="item in cart.items | orderBy:'name' | limitTo: 4">
            <div class="productdetails clearfix">
              <div class="productname">
                <a href="#!/product/{{item._id}}">{{item.name}}</a>
              </div>
              <div class="row">
                <div class="col-sm-6 quantitywrap">Quantity:
                  <span class="quantity">{{item.quantity}}</span>
                </div>
                <div class="pricewrap col-sm-6 text-right">
                  <b class="price">{{item.price * item.quantity | currency}}</b>
                </div>
              </div>
            </div>
          </section>
        </div>
        <a class="cartcontents-more" href="#!/cart" data-ng-if="cart.items.length > 4">
          <span class="moreproducts">View all items in your cart</span>
        </aside>

      </section>
      <section class="cartsummary clearfix">
        <div class="cart-totalwrap clearfix">

          <div class="col-sm-6 padd-right-0 padd-left-0">Cart total for {{cart.getTotalCount()}} item
            <span>s</span>:</div>
          <div class="col-sm-6 padd-right-0 text-right">
            <span class="total text-right">{{cart.getTotalPrice() | currency}}</span>
          </div>
        </div>
        <a href="#!/cart" class="btn btn-success btn-sm pull-right">
          <b>Checkout</b>
          <i class="fa fa-chevron-right"></i>
        </a>
      </section> -->
