<aside class="minicart has-products">

  <i class="minicart-icon ggdsicon-cart-mini text-size-250"></i>
  <span class="minicart-badge">3</span>

  <main class="minicart-dropdown">
    <ul class="minicart-list">
      <li>
        <b class="minicart-list-count">1 x</b>
        <a href="#">Fisher & Paykel 519 Bottom Mount Refridgerator</a>
        <b class="minicart-list-cost">$1644.00</b>
      </li>
      <li>
        <b class="minicart-list-count">1 x</b>
        <a href="#">Linden 32" (80cm) HD LED TV</a>
        <b class="minicart-list-cost">$229.00</b>
      </li>
    </ul>
    <footer>
      <div class="minicart-summary">
        Cart total for 2 item(s)
        <strong class="pull-right">$1873.00</strong>
      </div>
      <a href="#" class="btn btn-sm btn-success pull-right">Checkout&nbsp;
        <i class="ggdsicon-angle-right vert-align-10"></i>
      </a>
    </footer>
  </main>

</aside>
