@import '../../../assets/scss/_variables.scss';

@media screen and (min-width: $screen-sm) {
  /* Adapt Search for Tablet and above */
  .searchform {
    position: relative;
    margin-top: 5px;
    line-height: 1;
    text-align: left;
  }
  .searchform .searchbox {
    display: block;
    margin: 0;
    background: #fff;
    color: $gray-dark-4;
    border: 1px solid $gray-light-1;
    padding-right: 40px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 3px;
  }
  .searchform .searchbox:focus {
    color: #000;
    border-color: $gray;
    outline: none;
  }
  .searchform .searchbox:focus + .btn {
    color: $gray-dark-4;
  }
  .searchform .btn {
    position: absolute;
    right: 9px;
    top: 6px;
    width: 30px;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  }
  .searchform .btn:hover,
  .searchform .btn:focus {
    color: $brand-info;
    text-decoration: none;
  }
}

@media screen and (min-width: $screen-lg) {
  .searchform {
    margin-top: 12px;
  }
}
/* Override default placeholder text colour */

.searchbox::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-dark-1;
  opacity: 1; /* Firefox */
}
.searchbox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-dark-1;
}
.searchbox::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray-dark-1;
}
