@import "../../../../assets/scss/_variables.scss";
@import "../../../../assets/scss/_mixins.scss";

/* ---------------------------------------------------------------- */
/* Navigation: Navbar
/* ---------------------------------------------------------------- */


.navbar-container {
    position: relative;
    display: block;
    background-color: $brand-primary;
    @include gradient-vertical($brand-primary, darken($brand-primary,5%), 0%, 100%);
    z-index: 1005;
    box-shadow: none; /* Override bootstrap box shadow */
}
    .navbar { margin-bottom: 15px; }



/* ---------------------------------------------------------------- */
/* Navigation: Main menu
/* ---------------------------------------------------------------- */

// Set all list elements to block, no floats and reset padding and margins
.menu-main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
    .menu-main .menu-main-item {
        position: static;
        float: none;
        display: inline-block;
    }
    .menu-main .menu-main-products { position: relative; }

/* Top tier  */
.menu-main li > .menu-main-label {
    position: relative;
    cursor: pointer;
    font-family: $font-family-fancy;
    font-size: 1.35em;
    text-transform: uppercase;
    display: block;
    padding: 7px 25px 6px 15px;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
}
    .menu-main li:hover > .menu-main-label {
        background: desaturate(lighten($brand-primary,7%),5%);
        color: #fff;
    }
    .menu-main li:hover > .menu-main-label:after {
        content: '';
        width: 100%;
        height: 5px;
        background-color: $brand-info;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top:-5px;
        z-index: 3021;
    }
    .menu-main li > .menu-main-label .fa {
        margin-left: 10px;
        font-size: 0.75em;
    }




/* ---------------------------------------------------------------- */
/* Navigation: Main Menu Product Menu
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* L1 Dropdown Menu */
.menu-main-item .menu-main-l1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 260px;
    background-color: $gray-lightest;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top left;
    transition: all 0.15s ease-in;
    box-shadow: -10px 10px 20px -1px rgba(0,0,0,0.15);
}
    .menu-main-item:hover .menu-main-l1 {
        z-index: -1;
        transform: scaleY(1);
        visibility: visible;
        opacity: 100;
    }

    .menu-main-item .menu-main-l1.expand-remove {
        transition-delay: 0.5s;
    }

        .menu-main-l1 li {
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }
            .menu-main-l1 li > a {
                display: block;
                padding: 7px 0;
                text-decoration: none;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
            .menu-main-l1 li:first-child > a { border-top: 1px solid rgba(0,0,0,0.1); }

    .menu-main-l1 li:hover {
        background-color: $brand-info;
        margin-top: -1px;
        border-top: 1px solid $brand-info;
    }
    .menu-main-l1 li:hover > a { color: #fff; }

    /* Icon placement */
    .menu-main-l1 li .fa {
        padding-top: 0.25em;
        vertical-align: top;
    }

/* ---------------------------------------------------------------- */
/* L2 Menu */
.menu-main .menu-main-l2 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: $brand-info;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.15);
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 0.2s ease-in;
    transition-delay: 0.25s;
}
    .menu-main-item .menu-main-l2.expand-remove {
        z-index: -1;
        transition-delay: 0.25s;
        transition-duration: 0.2s;

    }
    .menu-main-item .menu-main-l2.expand-add {
        z-index: 1004;
        transition-delay: 0.25s;
        transition-duration: 0.2s;
    }
    .menu-main-l1 > li:hover > .menu-main-l2 {
        z-index: -1;
        transform: scaleX(1);
        visibility: visible;
        opacity: 100;
        transition-delay: 0.25s;
    }


    .menu-main-l2 li > a {
        color: #fff;
        border-bottom: 1px solid desaturate(lighten($brand-info,7%),5%);
    }

    .menu-main-l2 li:first-child > a { border-top: 1px solid desaturate(lighten($brand-info,7%),5%); }

    .menu-main-l2 li:hover {
        background-color: desaturate(lighten($brand-info,7%),5%);
        margin-top: -1px;
        border-top: 1px solid desaturate(lighten($brand-info,7%),5%);

    }
        .menu-main-l2 li:hover > a {
            color: #fff;
            border-color: transparent;
        }





/* ---------------------------------------------------------------- */
/* L3 Menu */
.menu-main .menu-main-l3 {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-shadow: 10px 10px 20px -1px rgba(0,0,0,0.15);
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 0.25s ease-in;
    transition-delay: 0.25s;

}

    .menu-main-item .menu-main-l3.expand-remove {
        transition-delay: 0.25s;
        transition-duration: 0.2s;
        z-index: -1;
    }
    .menu-main-item .menu-main-l3.expand-add {
        transition-delay: 0.25s;
        transition-duration: 0.2s;
        z-index: 1004;
    }
    .menu-main-l2 > li:hover > .menu-main-l3 {
        transform: scaleX(1);
        visibility: visible;
        opacity: 100;
        transition-delay: 0.25s;
    }


    /* Conditional class if 2 columns are needed */
    .menu-main-l3.wide { width: 450px; }

    .menu-main-l3 li {
        float: left;
        min-width: 215px;
    }

    .menu-main-l3 li > a,
    .menu-main-l3 li:first-child > a {
        color: $brand-primary;
        border: 0;
    }
    .menu-main-l3 li:hover {
        background-color: transparent;
        margin-top: 0;
        border-top: 0;
    }
    .menu-main-l3 li:hover > a {
        color: $brand-danger;
        text-decoration: underline;
    }





/* ---------------------------------------------------------------- */
/* Navigation: Main Menu Megemenu Dropdowns (Brands, Deals, Gifts)
/* ---------------------------------------------------------------- */

    /* Megamenu dropdowns */
    /* Set dropdown to static position to allow for 100% width megamenu that's not relative to the parent dropdown but rather the main menu */
    .main-menu .menu-main-dropdown { position: static; }

    /* Adjust vertical position to below main menu and set width minus 2x15px (to compensate for grid padding) to left and right to center the megamenu */
    .menu-main-dropdown .megamenu-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1010;
        padding-left: 15px;
        padding-right: 15px;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top left;
        transition: all 0.15s linear;

    }
    .menu-main-dropdown:hover .megamenu-container {
        visibility: visible;
        opacity: 100;
        transform: scaleY(1);
    }




/* ---------------------------------------------------------------- */
/* Navigation: Megamenus :: Content */
/* ---------------------------------------------------------------- */

    /* Add background and borders to megamenus */
    .megamenu-content {
        background-color: $gray-lightest;
        z-index: 100;
        border-bottom: 3px solid $brand-secondary;
        border-right: 1px solid $gray-light;
        border-left: 1px solid $gray-light;
        min-height: 380px;
        line-height: 1.2;
        padding: 15px;
        opacity: 0;
        transition: all 0.15s linear;
        box-shadow: -10px 10px 20px -1px rgba(0,0,0,0.15),
                    10px 10px 20px -1px rgba(0,0,0,0.15);
    }
    .menu-main-dropdown:hover .megamenu-content {
        opacity: 100;
        transition: all 0.15s linear;
    }


    .megamenu-content ul {
        margin: 0;
        list-style: none;
        display: inline-block;
        float: none;
        vertical-align: top;
    }
        .megamenu-content ul li {
            padding: 0;
            margin: 0;
        }


    /* Remove border from all anchors inside megemenu when not on mobile */
    .megamenu-content a {
        border: none;
        color: $brand-primary;
        display: inline-block;
        padding: 0.3em 0;
    }
        .megamenu-content a.link { color: $brand-primary; }
        .megamenu-content a:hover {
            background: transparent;
            color: $brand-danger;
        }


    /* Column titles and list elements */
    .megamenu-content .coltitle {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5em;
        font-family: $font-family-fancy;
        color: #000;
        border: none;
        padding: 1em 0 0.5em 0;
        margin: 0;
        line-height: 1;
        display: block;
    }
        .megamenu-content .coltitle a,
        .megamenu-content .coltitle span {
            color: #000;
            padding: 0;
            margin: 0;
        }

    /* Brands */
    .megamenu-content .brand-logo {
        width: 15%;
        padding: 0.5em 2.5em 1em 0;
        float: left;
        vertical-align: middle;
    }
    .megamenu-content .brand-logo img {
        max-width: 120px;
        display: inline-block;

    }
