<main class="producttile" data-sku="50031109" data-name="50&quot;(127cm) FHD LED LCD TV" data-brand="Samsung" data-category="LED TVs"
  data-price="748.00" data-event="" data-tggeventcategory="" data-tggeventaction="" data-tggeventlabel="" data-position="">
  <header class="producttile-header">
    <h4 class="producttile-name" title="Samsung 50&quot;(127cm) FHD LED LCD TV">
      <a href="#">{{product.name}}</a>
    </h4>
    <div class="producttile-model">{{product.model}}</div>
  </header>
  <div class="producttile-imagewrap">
    <a class="producttile-thumb" href="#" *ngIf="isArray(product.images); else noImageArray">
      <img class="img-responsive fadeInOnHover" src="https://thegoodguys.sirv.com/products/{{product.sku}}/{{product.images[0]}}.PNG?scale.height=200&amp;scale.width=200&amp;canvas.height=200&amp;canvas.width=200&amp;canvas.opacity=0&amp;format=png&amp;png.optimize=true">
      <img class="img-responsive fadeOutOnHover" src="https://thegoodguys.sirv.com/products/{{product.sku}}/{{product.images[1]}}.PNG?scale.height=200&amp;scale.width=200&amp;canvas.height=200&amp;canvas.width=200&amp;canvas.opacity=0&amp;format=png&amp;png.optimize=true">
    </a>

    <ng-template #noImageArray>
      <a class="producttile-thumb">
        <img class="img-responsive fadeInOnHover" src="https://thegoodguys.sirv.com/products/{{product.sku}}/{{product.images}}.PNG?scale.height=200&amp;scale.width=200&amp;canvas.height=200&amp;canvas.width=200&amp;canvas.opacity=0&amp;format=png&amp;png.optimize=true">
        <img class="img-responsive fadeOutOnHover" src="https://thegoodguys.sirv.com/products/{{product.sku}}/{{product.images}}.PNG?scale.height=200&amp;scale.width=200&amp;canvas.height=200&amp;canvas.width=200&amp;canvas.opacity=0&amp;format=png&amp;png.optimize=true">
      </a>
    </ng-template>


  </div>
  <aside class="clearfix padd-bottom-10 padd-top-10">
    <div class="col-xs-6 padd-right-0">
      <!-- Replace with Reevoo code, placeholder code only -->
      <span class="producttile-ratings">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
        <a href="#">(22)</a>
      </span>
      <!-- /end Reevoo placeholder code -->
    </div>
    <!-- WEB LABEL -->
    <div class="col-xs-6 text-right padd-left-5">
      <span class="labl-tile bg-onlineonly">Online Only</span>
    </div>
  </aside>
  <section class="producttile-stockstatus clearfix">
    <div class="stockstatus-col">
      <i class="icon ggdsicon-o-circle-tick available"></i>
      Delivered in 3-5
      <br>business days
    </div>
    <div class="stockstatus-col">
      <i class="icon ggdsicon-o-circle-times unavailable"></i>
      Pick up not
      <br>available
    </div>
  </section>
  <section class="producttile-features">
    <ul class="list-dash">
      <li>LED Super bright panel</li>
      <li>Full HD 100Hz Smart TV</li>
      <li>Quick and easy access to Netflix, Youtube…</li>
    </ul>
  </section>
  <div class="pricepoint clearfix">
    <span class="pricepoint-price">
      <i class="curr">$</i>748
      <i class="dec">.00</i>
    </span>
  </div>
  <footer class="producttile-footer" data-state="0">
    <div class="col-compare">
      <aside class="compare-toggle">
        <div class="compare-toggle-inner clearfix">
          <label class="compare-toggle-label" for="compare-50031109-c">
            <input type="checkbox" id="compare-50031109-c" name="compare-50031109-c" value="50031109">
            <span class="show-state-0" aria-hidden="false">Compare</span>
            <span class="show-state-1">Add more to compare</span>
            <span class="show-state-2">Added</span>
          </label>
          <span class="compare-toggle-link show-state-2">Compare</span>
        </div>
      </aside>
    </div>
    <div class="col-tileaction">
      <span class="btn btn-block btn-sm btn-success" role="button">
        <span class="tileaction-text hide-added">Add to Cart</span>
        <span class="tileaction-icon hide-added">
          <img src="images/cart-icon.svg">
        </span>
        <span class="show-added">Added</span>
      </span>
    </div>
  </footer>
</main>
