@import "../../../assets/scss/_variables.scss";
/* ---------------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------------- */

    .page-footer {
    	clear: both;
    	border: none;
    	padding: 0;
    	border-radius: 0;
    }
	.footer-content .footer-inner {
        padding: 10px 10px 15px 10px;
        position: relative;
    }
	.footer-content h4 {
		font-weight: 400;
		margin: 0.75em 0 0.4em 0;
		line-height: 1.2;
		color: #fff;
        font-size: 1.571429em;
	}
	.footer-branding-logo img {
        max-height: 50px;
        white-space: nowrap;
	}
    .footer-content ul {
		list-style:none;
		padding: 0;
		margin: 10px 0;
        vertical-align: top;
        font-size: 1.142857em;
	}
    .footer-content  ul li { padding-bottom: 5px; }
    .footer-content  ul li a { color: rgba(255,255,255,0.85); }

    .footer-aside {
        background: #fafafa;
        padding: 15px 25px;
        margin: 0 -10px;
    }

    .line {
        height: 2px;
        background: $gray-light-3;
    }
    .line-partial {
        height: 2px;
        background: $brand-danger;
        float: left;
        line-height: 0;
    }
    .line-partial-30 { width: 40%; }
    .line-partial-40 { width: 40%; }
    .line-partial-50 { width: 50%; }
    .line-partial-60 { width: 60%; }
    .line-partial-70 { width: 70%; }
    .line-partial-80 { width: 80%; }


