
<footer id="footer" class="clearfix page-footer">
  <main class="footer-content bg-primary bg-darken-1">

    <section class="footer-inner container padd-bottom-15">
        <div>
            <div class="col-sm-6 col-md-3">
                <header class="footer-heading">
                    <h4>Shop Online</h4>
                    <div class="line"><span class="line-partial line-partial-50">&nbsp;</span></div>
                </header>
                    <ul>
                        <li><a id="FooterInstallation" class="gafooter" href="/installations">Installations</a></li>
                        <li><a id="FooterPayLess" class="gafooter" href="/pay-less">PAY LESS, PAY LESS</a></li>
                        <li><a id="FooterCatalogue" class="gafooter" href="/catalogues">Catalogues</a></li>
                        <li><a id="FooterkitchenDesign" class="gafooter" href="/kitchen-design">Kitchen Design</a></li>
                        <li><a id="FooterBuyingGuide" class="gafooter" href="/buying-guide">Buying Guides</a></li>                        
                        <li><a id="FooterBonusOffers" class="gafooter" href="/BonusOfferListView?catalogId=30000&amp;langId=-1&amp;storeId=900">Bonus Offers</a></li>
                        <li><a id="FooterGiftCards" class="gafooter" href="/gift-cards">Gift Cards</a></li>
                        <li><a id="FooterGiftCards" class="gafooter" href="/energy-efficiency">Energy Efficiency Guide</a></li>
                        <li><a id="Footer30PriceGuarantee" class="gafooter" href="/30-day-price-guarantee">30 Day Price Guarantee Claim Form</a></li>
                    </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <header class="footer-heading">
                    <h4>About</h4>
                    <div class="line"><span class="line-partial line-partial-40">&nbsp;</span></div>
                </header>
                <ul>
                    <li><a id="FooterPriceGuarantee" class="gafooter" href="/about-us">The Good Guys</a></li>
                    <li><a id="FooterCareer" class="gafooter" href="/careers">Careers</a></li>
                    <li><a id="FooterSmartFacts" class="gafooter" href="/think-green">Smart Facts</a></li>
                    <li><a id="FooterTermsAndCondition" class="gafooter" href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a id="FooterPrivacyPolicy" class="gafooter" href="/our-privacy-policy">Privacy Policy</a></li>
                    <li><a id="FooterSafeAndSecure" class="gafooter" href="/safe-and-secure">Safe &amp; Secure</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/winners">Promotion &amp; Competition Winners</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/promotional-terms-and-conditions">Promotional Terms &amp; Conditions</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/sitemap">Sitemap</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" target="_blank" href="//www.superheroacademy.net.au">Super Hero Academy</a> <small><i class="fa fa-external-link">&nbsp;</i></small></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/doing-good">Doing Good</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/who-we-are">Who We Are</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/awards">Awards</a></li>
                    <li><a id="FooterSiteMap" class="gafooter" href="/media">Media</a></li>
                </ul>
            </div>
            <div class="visible-sm-block clearfix"></div>
            <div class="col-sm-6 col-md-3">
                <header class="footer-heading">
                    <h4>Our Top Brands</h4>
                    <div class="line"><span class="line-partial line-partial-70">&nbsp;</span></div>
                </header>
                <ul>
                    <li><a id="FooterGoodKitchen" class="gafooter" href="/kitchen-design">The Good Guys Kitchens </a></li>
                    <li><a id="FooterSamsung" class="gafooter" href="/samsung">Samsung</a></li>
                    <li><a id="FooterFisherPaykel" class="gafooter" href="/fisher-and-paykel">Fisher &amp; Paykel</a></li>
                    <li><a id="FooterWestinghouse" class="gafooter" href="/westinghouse">Westinghouse</a></li>
                    <li><a id="FooterBosch" class="gafooter" href="/bosch">Bosch</a></li>
                    <li><a id="FooterPanasonic" class="gafooter" href="/panasonic">Panasonic</a></li>
                    <li><a id="FooterLG" class="gafooter" href="/lg">LG</a></li>
                    <li><a id="FooterBreville" class="gafooter" href="/breville">Breville</a></li>
                    <li><a id="FooterApple" class="gafooter" href="/apple">Apple</a></li>
                    <li><a id="FooterLakeland" class="gafooter" href="/lakeland">Lakeland</a></li>
                    <li><a id="FooterKitchenaid" class="gafooter" href="/kitchenaid">KitchenAid</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <header class="footer-heading">
                  <h4>Customer Service</h4>
                    <div class="line"><span class="line-partial line-partial-60">&nbsp;</span></div>
                </header>
                <ul>
                    <li><a class="gafooter" id="FooterContactUs" href="/contact-us">Contact Us</a></li>
                    <li><a class="gafooter" id="FooterShipping" href="/shipping">Shipping</a></li>
                    <li><a class="gafooter" id="FooterFinance" href="/finance" rel="canonical">Finance</a></li>
                    <li><a class="gafooter" id="FooterWarranty" href="/warranty">Warranty</a></li>
                    <li><a class="gafooter" id="FooterCommercialSales" href="//www.thegoodguyscommercial.com.au/" target="_blank">Commercial Sales</a> <small><i class="fa fa-external-link">&nbsp;</i></small></li>
                    <li><a class="gafooter" id="FooterConcierge" href="/concierge/">Concierge</a></li>
                    <li><a class="gafooter" id="FooterRecall" target="_blank" href="http://www.recalls.gov.au/content/index.phtml/itemId/1047306/">Samsung Washing Machine recall</a> <small><i class="fa fa-external-link">&nbsp;</i></small></li>
                    <li><a class="gafooter" id="CanonPromoApology" target="_blank" href="/cs/groups/public/documents/graphic/canon-promo-apology.pdf">Canon Promotion Apology</a></li>
                </ul>

                <img class="padd-top-20" src="./assets/images/footer-social-icons.png">
            </div>
        </div>
    </section>
    <section class="padd-top-15 padd-bottom-15 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#/" class="disp-block text-left footer-branding-logo"><img class="img-responsive" src="./assets/images/logo-thegoodguys.svg"></a>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img class="img-responsive" src="./assets/images/footer-verified-visa-mastercard.png">
                </div>
                <div class="col-sm-3">

                </div>
            </div>
        </div>
    </section>
  </main>


  <section class="footer-bottom text-graydark padd-top-5 padd-bottom-5 clearfix">
    <div class="container">
      <div class="row">
          <div class="col-sm-8 col-lg-9">
              <small>The Good Guys Discount Warehouses (Australia) Pty Ltd ACN 004880657</small>
          </div>
          <div class="col-sm-4 col-lg-3 padd-right-60">
              <a href="#top" du-smooth-scroll class="btn btn-ghost btn-ghost-info btn-xs pull-right" data-ng-hide="isActive('/product/')">
                  <i class="fa fa-angle-up"></i> Back to Top
              </a>
          </div>
      </div>
    </div>
  </section>
</footer>