@import '../../../assets/scss/_variables.scss';

/* ---------------------------------------------------------------- */
/* Header
    /* ---------------------------------------------------------------- */

#masthead {
  position: relative;
}

.masthead-branding-logo {
  display: block;
  padding: 3px 0;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 50px;
}
.masthead-branding-logo img {
  margin: 0 auto;
  max-height: 50px;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

@media screen and (min-width: $screen-sm) {
  .masthead-header {
    padding-top: 0;
    font-size: 1em;
    background: transparent;
  }
  .masthead-branding-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    min-height: 50px;
  }
  .masthead-branding-logo img {
    margin: 0;
  }
}
@media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
  .masthead-branding {
    padding-right: 0;
    padding-top: 5px;
  }
}

.masthead .nav-secondary {
  text-align: left;
  padding-top: 18px;
  line-height: 1.2;
}
.masthead .nav-secondary .nav-secondary-icon {
  color: $brand-info;
  font-size: 2.3rem;
  float: left;
  padding-right: 5px;
}

.masthead .nav-secondary b {
  display: block;
}
.masthead .nav-secondary span {
  color: $gray-dark-2;
}

/* Mobile search ----------------------------------------------------- */
.search-mobile {
  padding: 0.5em 0;
  margin: 0 auto;
  position: relative;
  font-size: 1.5em;
}
.search-mobile form {
  position: relative;
  width: 100%;
  text-align: left;
}
.search-mobile .searchbox {
  display: block;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: none;
  padding: 4px 45px 4px 10px;
  margin: 0;
  background: #fff;
  color: $gray;
  font-size: 0.9em;
  width: 100%;
  border-radius: 0 6px 6px 0;
  transition: background 1s linear;
}
.search-mobile .searchbox:focus {
  color: #000;
  outline: none;
  border-color: #c0c0c0;
  background: #fff;
}

.search-mobile .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  padding: 0.26em 0.4em;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  line-height: 1;
  outline: none;
  background-color: $brand-primary;
  border: none;
  border-radius: 0 6px 6px 0;
}
.search-mobile .btn:active,
.search-mobile .btn:hover {
  color: $brand-info;
}
