<div class="container">

  <div class="masthead row">

    <!-- Mobile Logo - shown only on mobile -->
    <div class="col-xs-2 padd-right-0 visible-xs nav-toggle text-left" data-ng-init="$root.mobileMenu = false">
      <span type="button" class="mobilemenu-toggle">
        <svg class="mobile-toggle-svg fill-primary">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/images/sprite-icons.svg#icon-hamburger"></use>
        </svg>
      </span>
    </div>

    <!-- Desktop/Tablet Logo - shown on tablet and desktop -->
    <div class="col-xs-8 col-sm-3 masthead-branding ">
      <a href="/" class="masthead-branding-logo">
        <img src="./assets/images/the-good-guys-logo.svg" class="img-responsive">
      </a>
    </div>

    <div class="col-sm-1 col-md-2 col-lg-1 padd-0">
      <!-- Espot for promotional tiles -->
    </div>


    <!-- Desktop Search -->
    <section class="col-sm-3 col-lg-2 hidden-xs padd-0">
      <app-searchbox></app-searchbox>
    </section>


    <nav class="col-sm-4 col-lg-4 col-lg-offset-2 nav-supplementary">
      <div class="col-sm-6 padd-left-0 padd-right-5 padd-top-10">
        <i class="nav-supplementary-icon text-size-200 ggdsicon-storeselector"></i>
        <b>Hoppers Crossing
          <i class="ggdsicon-angle-down vert-align-15 text-info-sat"></i>
        </b>
        <span>Opens at 10am</span>
      </div>
      <div class="col-sm-5 padd-left-0 padd-right-5 padd-top-10">
        <i class="nav-supplementary-icon ggdsicon-user-slim-o"></i>
        <b>Hi, Sign in
          <i class="ggdsicon-angle-down vert-align-15 text-info-sat"></i>
        </b>
        <span>My Account</span>
      </div>
      <div class="col-sm-1 padd-left-5 padd-right-0">
        <app-minicart></app-minicart>
      </div>
    </nav>




    <!-- Alternative simplified minicart icon - shown only on mobile -->
    <section class="col-xs-2 padd-left-0 text-right visible-xs">
      <div class="minicart-icon-mobile">
        <a href="#!/cart">
          <svg class="mobile-minicart-svg fill-primary">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assets/images/sprite-icons.svg#icon-cart"></use>
          </svg>
          <span class="items visible-xs">1</span>
        </a>
      </div>
    </section>

  </div>

  <!-- Mobile Search box - shown only on mobile -->
  <section class="search-mobile visible-xs">
    <app-searchbox></app-searchbox>
    <!-- <form class="clearfix" data-ng-submit="search(searchTerm)" role="form">
        <input class="searchbox" type="text" placeholder="Search" name="q">
        <button class="btn btn-link" value="Search" id="searchsubmit" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form> -->
  </section>

</div>
<!-- /.container -->

<!-- Main nav on desktop -->
<section class="navbar-container hidden-xs">
  <app-primarynav></app-primarynav>
</section>
