@import '../../../assets/scss/_variables.scss';

/* ---------------------------------------------------------------- */
/* Header
    /* ---------------------------------------------------------------- */

#masthead {
  position: relative;
}

.masthead-branding-logo {
  display: block;
  padding: 3px 0;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 50px;
}
.masthead-branding-logo img {
  margin: 0 auto;
  max-height: 50px;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

@media screen and (min-width: $screen-sm) {
  .masthead-header {
    padding-top: 0;
    font-size: 1em;
    background: transparent;
  }
  .masthead-branding-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    min-height: 50px;
  }
  .masthead-branding-logo img {
    margin: 0;
  }
}
@media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
  .masthead-branding {
    padding-right: 0;
    padding-top: 5px;
  }
}

.masthead .nav-supplementary {
  text-align: left;
  padding-top: 8px;
  line-height: 1.2;
}
.masthead .nav-supplementary .nav-supplementary-icon {
  color: $brand-info;
  font-size: 2.3rem;
  float: left;
  padding-right: 5px;
}

.masthead .nav-supplementary b {
  display: block;
}
.masthead .nav-supplementary span {
  color: $gray-dark-2;
}
