<main class="page-home bg-graylighter clearfix">

  <header id="contentheader" class="nomarginbottom">
    <div class="banner">
      <div class="container hidden-xs">
        <a href="#!/product/50025176">
          <div class="col-xs-6 text">
            <img class="img-responsive" src="./assets/images/banners/banner-tv-text-2.png" alt="TV">
          </div>
          <div class="col-xs-6 image">
            <img class="img-responsive" src="./assets/images/banners/banner-tv.png" alt="TV">
          </div>
        </a>
      </div>
      <div class="mobile visible-xs">
        <a href="#!/product/50025176">
          <img class="img-responsive" src="./assets/images/banners/techspot-tv-promo-mobile.jpg" alt="Techspot TV Promo">
        </a>
      </div>
    </div>
  </header>
  <!-- /#contentheader -->

  <!--<div class="visible-md bg-danger-sat text-center text-white"><h4>MEDIUM</h4></div>-->

  <section class="clearfix bg-graylight-4 padd-bottom-15 marg-0">
    <div class="container">
      <header class="heading-section heading-section-graylightest">
        <h2>Featured Televisions Categories</h2>
      </header>
    </div>
  </section>

  <section class="clearfix padd-0" id="recentlyViewed">
    <div class="container">
      <header class="heading-section heading-section-graylighter">
        <h2>Recently Viewed</h2>
      </header>

        <app-product-tile
        class="row" *ngFor="let product of products$ | async; let i=index;"
        [product]="product" class="producttile-wrap col-sm-6 col-md-4 col-lg-3 marg-bottom-30">
      </app-product-tile>

    </div>
  </section>
</main>
<!-- /#content -->
