@import "../../assets/scss/_mixins.scss";

.page-home {
    .banner {
        @include gradient-diagonal(#f2a207, #da5765, 0%, 100%);
        min-height: 485px;
    }
    .banner .container {
        margin: 0 auto;
    }
    .banner .image {
        padding-top: 70px;
        max-width: 100%;
    }
    .banner .text {
        padding-top: 35px;
    }
}
